<ion-view view-title="" class="weather-pane home-view">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-more-vertical" ng-click="goMore()"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" ng-click="goManager()"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <ion-slide-box class="weather-slide-box"  on-slide-changed="slideHasChanged(index)"
                       show-pager="{{data.cityList.length > 1}}">
            <ion-slide ng-repeat="city in data.cityList">
                <weather-range weather="city.weather" ng-if="city.weather"></weather-range>
                <ion-list class="weather-list">
                    <ion-item class="weather">{{city.weather.weather}}</ion-item>
                    <ion-item class="city">{{city.citynm}}</ion-item>
                    <ion-item>{{city.weather.week}}</ion-item>
                    <ion-item ng-click="goQuality()">
                        <span>{{'空气质量&nbsp&nbsp' + city.weather.aqiLevnm + '&nbsp&nbsp' + city.weather.aqi + '&nbsp&nbsp'}}</span>
                        <i class="icon ion-ios-arrow-right"></i>
                    </ion-item>
                </ion-list>
                <div class="future-bar">
                    <div class="row future-wrapper">
                        <div class="col" ng-repeat="item in city.future" ng-click="addCity(item)">
                            <img class="weather" ng-src="{{'img/weather/' + item.weatid + '.png'}}">
                            <div>{{item.weather}}</div>
                            <div>{{item.tHigh + "&deg;/" + item.tLow + "&deg;"}}</div>
                            <div>{{item.week}}</div>
                        </div>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>