<ion-view view-title="" class="weather-pane">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-android-more-vertical"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" ng-click="goManager()"></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <ion-slide-box class="weather-slide-box"  on-slide-changed="slideHasChanged(index)"
                       show-pager="{{data.cityList.length > 1}}">
            <ion-slide ng-repeat="city in data.cityList">
                <weather-range weather="city.weather" ng-if="city.weather"></weather-range>
                <ion-list class="weather-list">
                    <ion-item class="weather">{{city.weather.weather}}</ion-item>
                    <ion-item class="city">{{city.citynm}}</ion-item>
                    <ion-item>{{city.weather.week}}</ion-item>
                    <ion-item>{{'空气质量 ' + city.weather.aqiLevnm + ' ' + city.weather.aqi}}</ion-item>
                </ion-list>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>