
/**********************************************************Common******************************************************/

.platform-android.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) {
    height: 64px; }
.platform-android.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper {
    margin-top: 19px !important; }
.platform-android.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > * {
    margin-top: 20px; }
.platform-android.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-android.platform-cordova:not(.fullscreen) .tabs.tabs-top {
    top: 64px; }
.platform-android.platform-cordova:not(.fullscreen) .has-header, .platform-android.platform-cordova:not(.fullscreen) .bar-subheader {
    top: 64px; }
.platform-android.platform-cordova:not(.fullscreen) .has-subheader {
    top: 108px; }
.platform-android.platform-cordova:not(.fullscreen) .has-header.has-tabs-top {
    top: 123px; }
.platform-android.platform-cordova:not(.fullscreen) .has-header.has-subheader.has-tabs-top {
    top: 157px; }
.platform-android.platform-cordova.status-bar-hide {
    margin-bottom: 20px; }

[nav-view-transition="ios"] [nav-view="entering"],
[nav-view-transition="ios"] [nav-view="leaving"] {
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
}
[nav-view-transition="ios"][nav-view-direction="forward"],
[nav-view-transition="ios"][nav-view-direction="back"] {
    background-color: transparent;
}

.weather-pane {
    background: -moz-linear-gradient(top, #000000 0%, #002852 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(100%, #002852));
    background: -webkit-linear-gradient(top, #000000 0%, #002852 100%);
    background: -o-linear-gradient(top, #000000 0%, #002852 100%);
    background: -ms-linear-gradient(top, #000000 0%, #002852 100%);
    background: linear-gradient(to bottom, #000000 0%, #002852 100%);
}

.bar {
    border-color: transparent;
    background-color: transparent;
    background-image: none;
    color: #fff;
}
.bar .button.button-icon,
.bar .button .icon {
    color: #fff;
}

/**********************************************************Common******************************************************/

/*********************************************************home.html****************************************************/

.weather-slide-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-top: -1px;
    padding-top: 1px;
    margin-bottom: -1px;
    width: auto;
    height: auto;
}
.weather-slide-box  .slider-pager .slider-pager-page {
    color: #fff;
    font-size: 8px;
}

/*********************************************************home.html****************************************************/

/*******************************************************manager.html***************************************************/

.manager-footer-bar {
    height: 130px;
}

.function-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    text-align: center;
}

.function-wrapper {
    padding: 0 15px;
    color: #fff;
    text-decoration: initial;
}
.function-wrapper .icon {
    display: block;
    margin: 8px auto;
    width: 75px;
    height: 75px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-size: 36px;
}
.function-wrapper .icon:before {
    line-height: 74px;
}
.function-wrapper.activated .icon {
    background: rgba(255, 255, 255, 0.1);
}

/*******************************************************manager.html***************************************************/

/*********************************************************add.html*****************************************************/

.add-view .bar-subheader {
    height: 51px;
}
.add-view .has-subheader {
    top: 95px;
}
.platform-android.platform-cordova:not(.fullscreen) .add-view .has-subheader {
    top: 115px;
}

.search-bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    height: 41px;
    margin: 0 5px;
}
.search-bar .item-input-wrapper {
    background: transparent;
}
.search-bar input {
    width: 100%;
    background: transparent;
    color: #fff;
}
.search-bar i {
    color: #fff;
    font-size: 28px;
    padding: 0 8px 0 0;
    line-height: 40px;
}

.add-view .scroll-content {
    margin: 15px 10px;
    color: #fff;
}

.suggest-wrapper .suggest-title {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    text-align: center;
}
.suggest-wrapper .suggest-title {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 38px;
    line-height: 37px;
}

.suggest-body {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-top: -1px;
    padding-top: 1px;
    padding-bottom: 8px;
    margin-bottom: 0;
    width: auto;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.suggest-body .scroll-view {
    height: 100%;
    margin-top: -4px;
}
.suggest-row {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: none;
    background: transparent;
    display: flex;
    padding: 0;
    margin-top: 1px;
    height: 80px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.suggest-row:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.suggest-row .col {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 65px;
}
.suggest-row .col:last-child {
    border-right: none;
}

/*********************************************************add.html*****************************************************/